




img {
  max-width:100%;
}

a {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 86px;
  color: white;
  font-style: bold;
  font-family: 'Alegreya SC', serif;
  margin-top: 0 auto;
  text-decoration: none;

  /*margin-bottom: 0;*/
}

/*.hiddentitle  {
  display: none;
}


a:hover + .hiddentitle {
  display: block;
  font-family: 'Alegreya SC', serif;
  color: white;
  font-size: 43px;

}*/

span {
  color: white;
  font-family: 'Alegreya SC', serif;
  font-size: 43px;
  padding: 0 15px 50px 15px;
  }


.link {
  font-family: 'Alegreya SC', serif;
  color: white;
  font-decoration: none;
  font-size: 22px;
  margin-bottom: 0;
}

ul li {
        margin: 0;
        padding: 0;
        display: none;

    }


a:hover + nav {
  display: inline-block;
  /*position: relative;
  line-height: 21px;
  text-align: left;*/
}



body {
  background-image: url("./images copy/IMG_5923.jpg");
}


/*.homephotos {
  margin: 0 auto;
  padding-left: 410px;
  padding-right: 300px;
  padding-bottom: 100px;
}

.introphoto {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  padding-bottom: 50px;
  float: left;
}

.xodroptext {
  display: none;
}

.xochitl:hover + .xodroptext {
  display: xodroptext;

}

.clearfix {
  clear: left;
}

footer  {
  width: 40%;
  margin: 40px auto;
}

.footerlink{
  color: black;
  text-decoration: none;
  text-align: center;
  text-align: justify;
  font-style: bold;
}

.footerlinkbar{
  display: inline;
}

.footerlink:hover {
  color: white;
  font-size: 150%;
}*/
